# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Databases
*.db
*.sqlite3

# Flask/Static
static/uploads/*
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Sensitive / Temporary
user_logins.txt
reset_passwords.py
tmp_*.py
